pypdf
qdrant-client==1.10.0
langchain
langchain-community
transformers
sentence-transformers
langchain-huggingface
langchain-qdrant
unstructured==0.7.12 
clean-text 
wikipedia
torch
torchvision
torchaudio
langchain_openai
xformers==0.0.27
python-dotenv
